<div class="row-fluid">
  <div class="col-xs-3">
    <div class="primary-box">
      <div class="main-attender-list"></div>
    </div>
  </div>

  <div class="col-xs-7">
    <div class="event-show-head clearfix">
      <div class="event-show-head-background">
        <div class="show-head-text">
          <h3><%= event.escape("title") %></h3>
          <h5>
            Organized by <span class="oraganizer-name">
              <%= event.escape("organizer_name") %>
            </span>
          </h5>
        </div>
      </div>
      <p class="event-when"><%= event.when() %></p>
      <p><a class="open-map" href="javascript:void(0)"><%= event.get("formatted_address") %></a></p>
      <div class="show-join"></div>

      <% if (event.join && event.get("organizer_id") === event.join.get("attender_id")) { %>
        <div class="show-destroy">
          <button class="btn btn-default cool-button destroy">Delete</button>
        </div>
        <div class="show-edit">
          <button class="btn btn-default cool-button edit">Edit</button>
        </div>
      <% } %>
    </div>

    <div class="primary-box">
      <h4>Description</h4>
      <%= EventSurfing.Utils.writeParagraphs(event.escape("description")) %>
    </div>
  </div>
</div>