<% title = new_user ? "Sign Up" : "Sign In" %>
<% action = new_user ? users_url : session_url %>

<div class="container">
  <h1><%= title %></h1>

  <form action="<%= action %>" method="post">
    <%= auth_token %>

    <% if new_user %>
      <div class="form-group">
        <label>
          Name
          <input
            type="text"
            name="user[name]"
            value="<%= user.name %>"
            class="form-control"
            placeholder="Name"
          >
        </label>
      </div>
    <% end %>

    <div class="form-group">
      <label>
        Email
        <input
          type="text"
          name="user[email]"
          value="<%= user.email %>"
          class="form-control"
          placeholder="Email"
        >
      </label>
    </div>

    <div class="form-group">
      <label>
        Password
        <input
          type="password"
          name="user[password]"
          class="form-control"
          placeholder="Password"
        >
      </label>
    </div>

    <input
      type="submit"
      value="<%= title %>"
      class="btn btn-default"
    >

  </form>

  <% unless new_user %>
    <p>New user? Sign up <%= link_to "here", new_user_url %>!</p>
  <% end %>
</div>